html, body {
    height:100%;
}

body {
	background-color:#000;
    color:#fff;
}

#menuslist {
margin-top:15px;
padding-bottom: 55px;
padding-top:10px;
text-align:center;
background-color: rgb(30,30,30);
border-radius:10px;
display:block;
}

#window1 {
float:left;
width:25%;
}
#window2 {
float:left;
width:25%;
}
#window3 {
float:left;
width:25%;
}
#window4 {
float:left;
width:25%;
}

#beginning {
	position:relative;
	left:0;
	top:0;
	width:100%;
	border-bottom:1px solid #000;
	background-color:#606060;
	text-indent:10px;
}

#livestatus {
width:100%;
}

#wrap {
	width:100%;
	<--width:100%;
	--margin:0 auto;
}

#left_col {
	margin-top: 15px;
	float:left;
	width:50%;
}

#right_col {
	margin-top: 15px;
	float:right;
	width:50%;
}

#footer1 {
	clear:both;
}

#copyright {
    text-align:center;
	display:block;
	width:100%;
	background-color: rgb(30,30,30);
	padding-top:8px;
	padding-bottom:8px;
	border-radius:10px;
}
#container {
	position: fixed;
	bottom: 13px;
}

#copyright .copy-text {
    color:grey;
}

p:not(#top-menu) {
    margin:0;
}

p#top-menu {
    color:red;
    margin-top:0;
}

a:link {
	color:#FFF;
}

/* unvisited link */
a:visited {
	color:#FFF;
}

/* visited link */
a:hover {
	color:#FFF;
}

/* mouse over link */
a:active {
	color:#FFF;
}

iframe {
    border:0;
    height:48vh;
    overflow:hidden;
    width:98%;
}

.center {
    text-align:center;
	display:block;
	width:100%;
	background-color: rgb(30,30,30);
	padding-top:10px;
	padding-bottom:6px;
	border-radius:10px;
}


/* selected link */