<html ng-app="EsConnector">
  <head>
	<title>Resoluties</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="javascript/elasticsearch.angular.js"></script>
	<script src="data/stopwords.js"></script>
    <script src="javascript/angularConnect.js"></script>
	<script src="javascript/rzslider.js"></script>
	<script src="javascript/plotlyVis.js"></script>
	
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/rzslider.min.css">
	
  </head>
  <body>
    <b><a href="about.html" target="_self" id="about">About us</a></b>
	<div ng-controller="QueryController">
		<div id="banner">
			<div id="titleText">Resoluties der Staten Generaal: 1610 t/m 1625</div>
		</div>
	
		<div id="container">
			<button class="bannerButton" ng-click = "loadData()">Visualisatie</button>
			<div id="gifWrap">
				<img id="loadingGif" src="images/loading_icon.gif" ng-hide="loaded" ng-cloak></img>
			</div>
			<div id="plotControls">
				<div id="wrapControls">
					<span>Kies document focus</span>
					<div id="slider2">
						<rzslider rz-slider-model="slider2.value"
						  rz-slider-options="slider2.options"></rzslider>
					</div>
					<img ng-click="navigateSlider('left')" src="images/arrow_left.png">
					<img ng-click="navigateSlider('right')" src="images/arrow_right.png">
				</div>
			</div>
			<div id="plot"></div>
		
			<button class="bannerButton">Zoeken</button>
			<section id="searchBar" class="searchField">
				<form ng-submit="search()">
				  <input type="text" ng-model="searchTerm" placeholder="Zoekopdracht...">
				  <input type="submit" value="Zoek">
				</form>
			</section>
			
			<div id="slider">
				<rzslider rz-slider-model="slider.minValue"
				  rz-slider-high="slider.maxValue"
				  rz-slider-options="slider.options"></rzslider>
			</div>
			
			<div class="order">
				<b>Op volgorde van: </b>
				<select ng-change="changeOrder(selectedOrder)" ng-model="selectedOrder" ng-options="x for x in orderBy">
					<option value=''>Relevantie</option>
				</select>
			</div>
			
			<section class="results">
				<div class="no-results" ng-hide="results.length" ng-cloak>No results</div>
				
				<div class="resultCount" ng-hide="!resultCount" ng-cloak>{{resultCount}} Resultaten</div>
				
				<div class="load-more">
					<a class="link" ng-click="loadLess()"> <<< Vorige pagina</a>
					<span ng-model="page"> - Pagina {{page + 1}} - </span>
					<a class="link" ng-click="loadMore()" ng-hide="allResults" ng-cloak>Volgende pagina >>></a>
				</div>
				
				<article class="result" ng-repeat="result in results" ng-cloak>
					<div id="content">
					<div id="title">Resolutie {{result.resolution}}, {{result.date.toLocaleString("nl-NL", {weekday: "long", year: "numeric", month: "long", day: "numeric"})}}</div>
					<div class="fullText" id="show{{result.id}}" ng-click="showText(result.id);">Show full text...</div><br><br>
						
						<div ng-repeat="name in result.names" class="names">{{name}}</div>
						<br><br>
						<div id="resultWrap"><div class="slide" ng-repeat="high in result.highlight">
						  - <span ng-bind-html="high | unsafe">
								{{high}}
							</span> -
						</div> 
						<div class="timeLine" ng-click="toVisualization([result.date.toISOString().split('T')[0], result.resolution])">Timeline...</div></div><br>
						<div style="display:none;" id="text{{result.id}}"> <br>{{result.text}}</div>
					</div>
					<br>
				</article>
			</section>
		</div>
	</div>
	<div class="modal">
	  <div class="modal-content">
		<span class="close">x</span>
		<div id="modalText"></div>
	  </div>
	</div>
</body>
</html>
	  