body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
text-align:center;
min-width: 800px;
}

a:hover, a:active
{
font-weight:bold;
}

#links a:link, #links a:visited
{
outline:#00B900 outset;
display:block;
font-weight:bold;
font-size:25px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color:white;
background-color:#00B900;
padding:40px;
text-decoration:none;
}

#links a:hover, #links a:active
{
outline: #00A500 inset;
background-color:#00A500;
}

#links
{
min-width:800px;
margin-top:10%;
text-align:center;
}

#footer
{
text-align:center;
min-width:800px;
margin-top:13%;
font-size:12px;
}