a:link,a:visited
{
outline:grey outset;
display:block;
font-weight:bold;
font-size:25px;
font-family:Alien Encounters;
color:black;
background-color:grey;
width:190px;
text-align:center;
padding:40px;
text-decoration:none;
}

a:hover,a:active
{
outline:#616161 inset;
background-color:#616161;
}

body {background-color:black;}

#links
{
position:absolute;
margin-top:12%;
margin-right:15%;
float:right;
}

#name {position:relative;}