html,body {
	margin: 0;
	padding: 0;
	max-width: 100%;
}

body, input{
    font-family: 'Helvetica', Arial, Lucida Grande, sans-serif !important;
}

#searchBar{
	margin-top:50px;
}

#slider {
	float:right;
	width:1140px;
	text-align:center;
	margin-top:30px;
}

#speakers {
	overflow-y: scroll;
	height: 450px;
}

#wrapper {
	display: none;
}

#checkboxes { margin-top: 10px;}
#selectSpeakers {
	margin-top:20px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	float:left;
	font-size:12px;
	line-height:20px;
    border: solid black 1px;
    border-radius: 5px;
    width: 250px;
	margin-right:18px;
	height: 500px;
}
#headerText {
	margin-top: 10px;
	text-align: center;
}
#header {
	border-bottom: black solid 1px;
	height: 30px;
}.checkboxes {
	float:right;
	margin-right: 10px;
	cursor: pointer;
}
.label {
	text-align: start;
	margin-left: 10px;
	width:100%;
	cursor: pointer;
}
.wrap {
	text-align:left;
	border-bottom: lightgray solid 1px;
	width: 100%;
	display: inline-block;
}
	
#banner{
	background: rgb(210,225,237);
	width: 100%;
	height: 70px;
	display: block;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.9);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.9);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.9);
}.button {
    background-color: rgb(210,225,237);
    border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: none;
    height:	70px;
	width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
	float:left;
}.button:active{
	border-top: 2px solid black;
}

#titleText {
	line-height:70px;
	font-size: 45px;
	text-align: center;
}


#container{
	width:1140px;
	margin-left:auto;
	margin-right:auto;
}

input[type="text"] {
    width: 90%;
	height: 40px;
	font-size:18px;
	padding-left: 12px;
	float:left;
}
input[type="submit"] {
	height: 40px;
	width: 10%;
	float:right;
}

#title{
	display: inline-block;
	float:left;
}
.fullText {
	display: inline-block;
	float:right;
	text-decoration: underline;
	cursor: pointer;
}

.searchField{
	text-align:center;
}

.cloudButton{
	width:inherit;
	height: 40px;
	margin-top: 40px;
	margin-bottom: 10px;
}

.chartButton1{
	width: 49.5%;
	height: 40px;
	margin-top: 40px;
	margin-bottom: 10px;
	float:left;
}
.chartButton2{
	width: 49.5%;
	height: 40px;
	margin-top: 40px;
	margin-bottom: 10px;
	float:right;
}
#word {
	display: none;
	margin-left:70px;
	margin-right:70px;
	width:inherit;
}

#buttons{
	width:inherit;
	text-align:center;
	display:block;
	height: 40px;
}
#chart {
	width:inherit;
	height:400px;
	display: none;
}

#content {
	padding: 10px;
	border: 1px solid black;
	display: block;
}

.load-more{
	bottom:0;
	text-align:center;
	width:inherit;
	visibility:hidden;
	margin-bottom: 20px;
	margin-bottom: 20px;
}
.load-more:hover{
	cursor:pointer;
}
.order {
	text-align:center;
	width:inherit;
	margin-bottom: 40px;
}

.names{
	background-color: rgb(210,225,237);
	margin-right: 5px;
	padding: 5px;
	border-radius: 8px;
	border: 1px solid black;
	display: inline-block;
	margin-bottom: 5px;
}

.no-results{
	width:inherit;
	text-align: center;
	visibility:hidden;
	margin-top: 50px;
}

.resultCount {
	margin-bottom: 20px;
}